:root{
    --overlay-color-1: #ff0000;
    --overlay-color-2: #0000ff;
    --anim-duration: 1s;
    --content:'Wellcome to my website';
}
body{
    /* background-image: url('testHTML/AVE/Images/background/ab2.jpg');
    background-size: cover;
    background-attachment: inherit; */
    background: linear-gradient(270deg,red,pink,aqua) no-repeat;
    margin: 0;
    display: grid;
    height: 100vh;
}

/* header */
#gradient {
    opacity: 0.8;
    background: none;
    font-size: 9vw;
    text-align: center;
}

/* subtitle below header */
#subtitle{
    font-size: 2vw;
    position: absolute;
    top: 50%;left: 50%;
    transform: translateX(-50%);
}

/* footer */
#center_bottom{
    position: absolute;
    bottom: 0;
    transform: translateX(-50%);
    left: 50%;
}

#gradient:after,
#gradient:before {
    display: block;
    position: absolute;
    top: 0; bottom: 0; left: 0; right: 0;
    padding: 15vh 0;
    margin: 15vh 0;
}

#gradient:before {
    content: var(--content);
    background: linear-gradient(135deg, var(--overlay-color-2) 0%, var(--overlay-color-1) 100%);
    animation: OpacityAnim var(--anim-duration) ease-in-out 0s infinite alternate;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}
#gradient:after {
    content: var(--content);
    background: linear-gradient(135deg, var(--overlay-color-1) 0%, var(--overlay-color-2) 100%);
    animation: OpacityAnim var(--anim-duration) ease-in-out calc(-1 * var(--anim-duration)) infinite alternate;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

/* background */

.loading_icon_container{
    display: grid;
    justify-content: center;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: 0 auto;
    width: 200px;
    height: auto;
    aspect-ratio: 1/1;
    z-index: -1;
}
.loading_icon_container div{
    padding: 10px;
}

.first_layer,
.second_layer,
.third_layer,
.fourth_layer,
.fifth_layer,
.sixth_layer,
.seventh_layer,
.eighth_layer,
.ninth_layer,
.tenth_layer{
    border: 2.5vw solid rgba(255, 255, 255, 0.4);
    border-radius: 50%;
    animation: border_rotate 10s infinite;
    border-top-color: transparent;
    border-bottom-color: transparent;
}

@keyframes border_rotate {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
@keyframes OpacityAnim {
    0%{opacity: 1.0}
    100%{opacity: 0.0}
}