body{
    margin: 0;
    background: url(/testHTML/101723.jpg) no-repeat;
    background-size: cover ;
}

card{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: rgba(255, 255, 255, 0.3);
    width: 500px;
    height: 600px;
    border-radius: 10px;
    color: #fff;
}
h1{
    text-align: center;
    margin: 100px 0 20px 0;
    font-size: 100px;
    color: black;
}
form{
    text-align: center;
    
}
form input{
    width: 350px;
    height: 60px;
    border-radius: 15px;
    margin: 5px;
    font-size: 24px;
}