p{
    margin: 0 10vw;
    font-size: 300px;
    font-weight: bold;
    text-align: center;
    background: linear-gradient(45deg, red, pink, aqua,red);
    background-size: 200%;
    background-clip: text;
    color: transparent;
    animation: transformX 5s infinite linear;
}

@keyframes  transformX{
    from{
        background-position: 0vw 0vw;
    }
    to{
        background-position: 160vw 0;
    }
}