.container{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(1,1fr);
    height: 100vh;
    gap: 1px;
}

.div1, .div2, .div3{
    text-align: center;
    border: 5px solid black;
    border-radius: 15px ;
}

/* left grid */
.div1{
    grid-column: span 2 / auto;
    display: grid;
    grid-template-rows: repeat(3,1fr);
}
/* center grid */
.div2{
    grid-column: span 2 / auto; 
}
/* right grid */
.div3{
    display: grid;
    grid-template-columns: repeat(auto,1fr);
    background: linear-gradient(45deg, red, pink, aqua);
}

/* __________________________________________________________ */

/* div1 content */
.d1content {
    background: linear-gradient(45deg, red, pink, aqua);
    border-radius: 10px;
    font-size: 5vw;
    padding: 10px 0;
    transition: all 0.5s ease-in-out;
}
/* paragraph1 in .d1content */
.paragraph1{
    font-size: 50px;
}

/* div3 content */
.d3content {
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 2px solid black;
    font-size: 2.5vw;
}

/* __________________________________________________________ */
/* clicked on any div1 content, the div1 content will be scaled down and change color */
.d1content:focus{
    transform: scale(0.95);
    color: aqua;
}

/* id o when being clicked, the div2 background image will change */
.container:has(#o:focus) .div2{
    background: url('/testHTML/a21.png') no-repeat;
    background-size: 100%;
    background-position: center;
}

/* id t when being clicked, the div2 background image will change */
.container:has(#t:focus) .div2{
    background: url('/testHTML/101723.jpg') no-repeat fixed;
    background-size: 100%;
    background-position: center;
}

/* id th when being clicked, the div2 background image will change */
.container:has(#th:focus) .div2{
    background: url('/testHTML/AVE/Images/kn.jpg') no-repeat ;
    background-size: 50vw auto;
    background-position: center;
}