@import url("https://fonts.googleapis.com/css?family=Lato:300,400,900");
body{
    background-color: #355664;
}

h1, h2, h3{
    font-family: forte,Arial,sans-serif;
    color: white;
}
h1{
    margin: 15px 0 10px 0;
    font-size: 80px;
    letter-spacing: 5px;
    text-align: center;
}
h3{
    font-size: 40px;
    text-align: right;
}

nav ul li{
    display: inline;
    margin: 10px;
    font-size: 40px;
}
nav ul li:nth-child(1) a{
    color: aqua;
}
li a[title="sweet tabs"]{
    color: greenyellow;
}
nav ul li:last-child a {
    color: white;
}

article {
    margin: 0 35px;
    display: grid;
    background-color: #2b4551;
    border-radius: 20px;
}
h2{
    text-align: center;
    font-size: 50px;
    letter-spacing: 20px;
    border-bottom: 3px solid rgba(255, 255, 255, 0.2);
    margin: 0 20px;
}


.article-content{
    padding: 0 20px 20px 20px;
}
.article-content p{
    font-size: 22px;
}
figure img{
    float: right;
    width: 50%;
    border-radius: 20px;
}
.article-content figure + p{
    color: greenyellow;
}
.article-content figure + p + p{
    color: white;
}


footer{
    margin: 10px 35px 0 35px;
    padding: 10px;
    font-size: 22px;
    color: white;
    text-align: center;
    border-top: 5px solid black;
}
