div.my_list{
    margin: 50px  auto;
    padding: 2px 24px;
    display: table;
    width: calc(100vw * 0.4);
    background-color: #ffffff;
    border: 2px solid #e6e6e6;
    box-shadow: 0 0 10px 5px rgba(0,0,0,0.5);
    font-size: calc(25px + (90vw - 1000px) * 0.02);
}
div.my_list>p, h1{
    text-align: center
}
h1{
    background:linear-gradient(125deg, red, pink, aqua);
    background-clip:text;
    -webkit-text-fill-color: transparent;
}
div.my_list>ol{
    margin: 5px auto;
}
div.my_list>img.profile_image{
    display: block;
    margin: 15px auto;
    width: 130px;
    border-radius: 50%;
}
div.my_list>ol>li{
    padding: 8px;
    margin: 10px auto;
    background-color: rgba(0, 0, 0, 0.075);
    border-radius: 10px;
    transition: background-color 0.3s ease, transform 0.3s ease;
}
div.my_list>ol>li:hover{
    background-color: rgba(0,0,0,0.2);
    transform: scale(1.05);
}




