body{
    /* the responsive background image is following user when scrolling up and down */
    background-attachment: fixed;
    background-size: cover;
    background-position: center ;
    animation: slideshow 100s infinite;
}

/* heading style */
h1,h2,p.not{
    text-align: center;
    background: linear-gradient(45deg, red, pink, aqua);
    background-clip: text;
    -webkit-text-fill-color: transparent;
}
h1{
    font-size: 150px;
    -webkit-text-stroke: 4px transparent;
}
h2{
    text-shadow: 10px 10px 2px rgba(1,1,0,0);
    font-size: 50px;
}

main.container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 5px;
}

/* layout and background without animation*/
main>a.RickR, div, a.SA{
    background: linear-gradient(45deg, red, rgb(255,0,255), aqua);
    border-radius: 15px;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    color: rgb(255, 255, 255);
    border-color: white;
    font-size: 50px;
    height: 200px;
    text-decoration: none;
}

/* animation */
main>a.RickR, div.notclickable{
    animation: scale 1s infinite;
}

/* Grid with image */
/* hj.jpg */
main>div.a1{
    background: url('/testHTML/AVE/Images/kj.jpg') no-repeat;
    background-size: 100%;
    background-position: center;
    border-radius: 15px;
}
/* hts.jpg */
main>div.a2{
    background: url('/testHTML/AVE/Images/hts.jpg') no-repeat;
    background-size: 100%;
    background-position: center;
    border-radius: 15px;
}


/* animation */
@keyframes scale {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(0.95);
    }
    100% {
        transform: scale(1);
    }
}
/* Slideshow background */
@keyframes slideshow {
    0% {
        background-image: url(Images/background/ab1.jpg);
    }
    10% {
        background-image: url(Images/background/ab2.jpg);
    }
    20% {
        background-image: url(Images/background/ab3.jpg);
    }
    30% {
        background-image: url(Images/background/ab4.jpg);
    }
    40% {
        background-image: url(Images/background/ab5.jpg);
    }
    50% {
        background-image: url(Images/background/ab6.jpg);
    }
    60% {
        background-image: url(Images/background/ab7.jpg);
    }
    70% {
        background-image: url(Images/background/ab8.jpg);
    }
    80% {
        background-image: url(Images/background/ab9.jpg);
    }
    90% {
        background-image: url(Images/background/ab10.jpg);
    }
    100% {
        background-image: url(Images/background/ab1.jpg);
    }
}

/*
main{
    div{
        background: linear-gradient(45deg, red, rgb(255,0,255), aqua);
        border-radius: 15px;
        display: flex;
        align-items: center;
        justify-content: center;
        color: white;
        font-size: 80px;
        height: 200px;
        text-align: center;
    }
    a.RickR{
        background: linear-gradient(45deg, red, rgb(255,0,255), aqua);
        border-radius: 15px;
        display: flex;
        align-items: center;
        justify-content: center;
        color: rgb(255, 255, 255);
        border-color: white;
        font-size: 50px;
        height: 200px;
        animation: scale 1s infinite;
    }
    a.SA{
        background: linear-gradient(45deg, red, rgb(255,0,255), aqua);
        border-radius: 15px;
        display: flex;
        align-items: center;
        justify-content: center;
        color: white;
        border-color: white;
        font-size: 50px;
        height: 200px;
    }
    div.notclickable{
        background: linear-gradient(45deg, red, rgb(255,0,255), aqua);
        border-radius: 15px;
        display: flex;
        align-items: center;
        justify-content: center;
        color: white;
        font-size: 80px;
        height: 200px;
        text-align: center;
        animation: scale 1s infinite;
    }
    div.a1{
        background: url('/testHTML/AVE/Images/kj.jpg') no-repeat;
        background-size: 100%;
        background-position: center;
        border-radius: 15px;
    }
}
*/

