body {
    background-color: lightgray;
    margin: 0;
}

.CV {
    display: grid;
    margin: 0 auto;
    width: 810px;
    height: 900px;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2, 1fr);
    background-color: white;
}

/* blank grid on bottom left */
.blank{
    background: rgb(173, 173, 173);
    margin: 70px 0;
}
/* Section title style */
.bottom .left strong,
.bottom .right strong {
    padding-left: 10px;
    font-size: 40px;
}


/* Top of the CV, include profile picture and name */
.top {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 8px;
}
.top header, #profile_picture {
    display: flex;
    align-items: center;
}
.top header {
    display: grid;
    font-family: "Georgia", "Times New Roman", serif;
    font-style: italic;
    justify-content: left;
    width: 480px;
    font-size: 22px;
}
#name {
    margin: 75px 0 0 0;
}
#job{  
    margin: 5px 0 20px 0;
}
#profile_picture {
    justify-content: center;
}
.top img {
    width: 240px;
    height: 360px;
    position: absolute;
    top: 30px;
    box-shadow: 0 0 1px 4px rgb(173, 173, 173);
}

/* Bottom of the CV, divide into 2 columns */
.bottom {
    height: 800px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 8px;
    background-color: rgb(173, 173, 173);
}
.bottom .right ul, 
.bottom .left ul{
    margin: 3px 0;
}

/* Bottom right */
.bottom .right {
    display: grid;
    padding: 10px 0 0 0;
    width: 480px;
    font-size: 21px;
}
.bottom .right img {
    width: 35px;
}
/* Bottom left */
.bottom .left {
    display: grid;
    padding: 10px 15px;
    gap: 2px;
}
.bottom .left section {
    background-color: white;
}


#Interests ul,
#Languages ul,
#References ul {
    padding: 0 0 0 40px;
    font-size: 20px;
}

/* Information section */
#Information ul {
    font-size: 20px;
    padding: 50px 0 0 15px;
}
#Information img {
    /* Icon */
    width: 22px;
}

/* Education section */
#education {
    padding: 10px;
}

/* Education table*/
#Education table{
    width: 97%;
    border-collapse: collapse;
    border: none;
    font-size: 20px;
    
}
#Education table th,
#Education table td{
    border: none;
}
#Education table td:nth-child(2){
    text-align: center;
}



